# SELinux Policy Module for Linux Anti-Executable
# For Fedora and RHEL-based systems
#
# To compile and install:
#   checkmodule -M -m -o lexec.mod lexec.te
#   semodule_package -o lexec.pp -m lexec.mod
#   sudo semodule -i lexec.pp
#

module lexec 1.0;

require {
    type unconfined_t;
    type user_home_t;
    type bin_t;
    type lib_t;
    type usr_t;
    type var_run_t;
    type var_lib_t;
    type tmp_t;
    type init_t;
    class file { read open getattr execute };
    class dir { read search open getattr };
    class unix_stream_socket { connectto };
    class capability { sys_admin dac_read_search };
}

# Allow daemon to use fanotify (requires CAP_SYS_ADMIN)
allow init_t self:capability sys_admin;
allow init_t self:capability dac_read_search;

# Allow daemon to read files for hashing
allow init_t bin_t:file { read open getattr };
allow init_t lib_t:file { read open getattr };
allow init_t usr_t:file { read open getattr };

# Allow access to runtime directories
allow init_t var_run_t:dir { read search open getattr };
allow init_t var_lib_t:dir { read search open getattr };

# Allow GUI to connect to daemon socket
allow unconfined_t var_run_t:unix_stream_socket connectto;
